<HTML>
<head>
    <title>Map View</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />    

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script>

        function calculateDistance(lat1, lon1, lat2, lon2, unit = 'km') {
            const R = 6371; // Radius of the Earth in kilometers
            const dLat = (lat2 - lat1) * Math.PI / 180;
            const dLon = (lon2 - lon1) * Math.PI / 180;

            const a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                        Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                        Math.sin(dLon / 2) * Math.sin(dLon / 2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

            let distance = R * c; // Distance in kilometers

            // Convert to other units if needed
            if (unit === 'miles') distance = distance * 0.621371;
            if (unit === 'meters') distance = distance * 1000;

            return distance;
        }


        //load trackers
        //var tracker_ids = ;

        // Collect points and format into an efficient map for recall later

        var circleIcon;
        var points = new Map();
        var trackers = [];// ;
        var DTP;
        var linesGroup;

        const Transition = {
            STOP_TO_MOVING: "STOP_TO_MOVING",
            MOVING_TO_STOP: "MOVING_TO_STOP",
        }

        const Mode = {
            MOVING: "MOVING",
            STOP: "STOP",
        }

        function showPoints(){
            linesGroup.clearLayers(); // Clear existing lines from the map

            if (points.size === 0) {
                return; // No points to display
            }

            var polyline = L.polyline(Array.from(points.values()).map((p) => [p.latitude, p.longitude])).addTo(linesGroup);

            // zoom the map to the polyline
            map.fitBounds(polyline.getBounds());

            points.forEach(function(point) {
                var pointIcon = L.divIcon({
                    className: 'jpico',
                    html: "<div style='background-color:#4838cc;' class='marker-pin'></div><i style='transform: rotate(" + point.course + "deg)' class='fa-regular fa-circle-up' style='--fa-rotate-angle: 25deg;'></i>",
                    iconSize: [10, 10],
                    iconAnchor: [5, 5],
                    popupAnchor: [-3, -76],
                });

                //pointIcon.options.html = pointIcon.options.html.replace("GPS_COURSE", point.course);

                var marker = L.marker([point.latitude, point.longitude], {icon: pointIcon}).addTo(linesGroup);
                marker.on('click', function(event){
                    var accuracyCircle = L.circle([point.latitude, point.longitude], {
                        color: 'blue',
                        fillColor: '#f03',
                        fillOpacity: 0.5,
                        radius: point.gps_accuracy
                    }).addTo(map);
                    var popup = L.popup([point.latitude, point.longitude], {content: "<p>" + loadPopupContentforPoint(point.puid) + "</p>"});
                    popup.on('remove', function() {
                        accuracyCircle.remove(); // Remove the accuracy circle when the popup is closed
                        console.log("Popup closed for point: ", point.puid);
                    });
                    popup.openOn(map);
                    console.log("Marker clicked: ", this);

                    loadPopupContentforPoint(point.puid);
                });
            });

        }

        function loadPopupContentforPoint(pointPIUD) {
            const point = points.get(pointPIUD);
            var result = "";

            result += "<strong>" + new Date(point.time).toLocaleString() + "</strong><br>";
            result += "Latitude: " + point.latitude + "<br>";
            result += "Longitude: " + point.longitude + "<br>";
            result += "Velocity: " + point.velocity + "<br>";
            result += "Course: " + point.course + " degrees<br>";
            result += "Altitude: " + point.altitude + "<br>";
            result += "Accuracy: " + point.gps_accuracy + "<br>";
            result += "Battery: " + point.battery + "%<br>";
            result += "Acceleration: " + point.acceleration + "<br>";
            result += "Mode: " + point.mode + "<br>";
            return result;

        }

        function loadTrackersAndPoints() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                reponse = JSON.parse(this.responseText);;
                processPoints(reponse.points);
                processTrackers(reponse.tracker_ids);
                showPoints();
            }
            // Get the selected tracker ID from the query or the dropdown
            var selectedTrackerId = document.getElementById("selTrackers").value || new URLSearchParams(window.location.search).get('tracker_id') || "";
            xhttp.open("GET", "/points?tracker_id=" + selectedTrackerId + "&seconds_start=" + $('input[name="datetimes"]').data('daterangepicker').startDate.toDate().getTime()/1000 + "&seconds_end=" + $('input[name="datetimes"]').data('daterangepicker').endDate.toDate().getTime()/1000, true);
            xhttp.send();
        }

    
        function processPoints(pointsArr) {
            points = pointsArr.reduce((accum, p) => {
                if (p.gps_accuracy <= (document.getElementById("accuracyFilterInput").value || 50)) {
                    p.localTime = new Date(p.time).toLocaleString();
                    accum.set(p.puid, p);
                }
                return accum;
            }, new Map());

            // 
            }

            function processSegments2(pointsMap){
                //use speed rather than point density to detect stops


                var pointsArr = Array.from(pointsMap.values());
                var mode = Mode.MOVING; // Initial mode

                const stoppedSpeedThreshold = 1; // Speed threshold to consider as stopped (adjust as needed)

                for (let i = 0; i < pointsArr.length; i++) {
                    console.log(`Processing point ${i} with puid ${pointsArr[i].puid} in mode ${mode}`);
                    console.log(`Current point: `, pointsArr[i]);
                    var distance = calculateDistance(pointsArr[i].latitude, pointsArr[i].longitude, pointsArr[Math.max(0, i-1)].latitude, pointsArr[Math.max(0, i-1)].longitude, 'meters');
                    var time = (new Date(pointsArr[i].time).getTime() - new Date(pointsArr[Math.max(0, i-1)].time).getTime()) / 1000; // Time difference in seconds
                    var speed = Math.abs(distance / time); // Speed in meters per second
                    var speedMPH = speed * 2.23694; // Convert speed to miles per hour
                    console.log(`Distance: ${distance} meters, Time: ${time} seconds, Speed: ${speed} m/s, MPH: ${speedMPH}`);
                    

                    if (mode === Mode.MOVING) {
                        if (speedMPH <= stoppedSpeedThreshold) {
                            console.log(`Transition from MOVING to STOP at point ${pointsArr[i].puid}`);
                            console.log(pointsArr[i]);
                            //add a marker to the map for the stopped point
                            map.addLayer(L.marker([pointsArr[i].latitude, pointsArr[i].longitude]).bindPopup("Stopping Point: " + new Date(pointsArr[i].time).toLocaleString()).addTo(map));
                            mode = Mode.STOP;
                        }
                    } else if (mode === Mode.STOP) {
                        if (speedMPH > stoppedSpeedThreshold) {
                            console.log(`Transition from STOP to MOVING at point ${pointsArr[i].puid}`);
                            console.log(pointsArr[i]);
                            //add a marker to the map for the stopped point
                            map.addLayer(L.marker([pointsArr[i].latitude, pointsArr[i].longitude]).bindPopup("Moving Point: " + new Date(pointsArr[i].time).toLocaleString()).addTo(map));
                            mode = Mode.MOVING;
                        }
                    }
                }
            }

        function processSegments(pointsMap) {

            var pointsArr = Array.from(pointsMap.values());

            var mode = Mode.MOVING; // Initial mode

            const runningAverageWindow = 5; // Number of points to consider for the running average
            var runningAveragePoints = [];
            var runningAverageLoc = {
                latitude: 0,
                longitude: 0,
            };
            var stoppedPointCount = 0;
            var movingPointCount = 0;
            const stoppedPointDistanceThreshold = 100; // Number of consecutive points below speed threshold to consider as stopped

            for (let i = 0; i < pointsArr.length; i++) {
                console.log(`Processing point ${i} with puid ${pointsArr[i].puid} in mode ${mode}`);
                console.log(`Current point: `, pointsArr[i]);
                console.log(`Running average location: `, runningAverageLoc);
                console.log(`Distance from running average: `, calculateDistance(pointsArr[i].latitude, pointsArr[i].longitude, runningAverageLoc.latitude, runningAverageLoc.longitude, 'meters'));
                console.log(`Stopped point count: ${stoppedPointCount}`);
                console.log(`Moving point count: ${movingPointCount}`);

                if (mode ===Mode.MOVING) {
                    runningAveragePoints.push(pointsArr[i]);
                    if (runningAveragePoints.length > runningAverageWindow) {
                        runningAveragePoints.shift(); // Remove the oldest point to maintain the window size
                    }
                    runningAverageLoc.latitude = runningAveragePoints.reduce((sum, p) => sum + p.latitude, 0) / runningAveragePoints.length;
                    runningAverageLoc.longitude = runningAveragePoints.reduce((sum, p) => sum + p.longitude, 0) / runningAveragePoints.length;

                    var distance = calculateDistance(pointsArr[i].latitude, pointsArr[i].longitude, runningAverageLoc.latitude, runningAverageLoc.longitude, 'meters');

                    if ((runningAverageLoc.latitude != 0) && (distance < stoppedPointDistanceThreshold)) {
                        stoppedPointCount++;
                    } else {
                        stoppedPointCount = 0; // Reset count if movement is detected
                    }

                    if (stoppedPointCount > runningAverageWindow) { // Threshold for stopping, adjust as needed
                        console.log(`Transition from STOP to MOVING at point ${pointsArr[i- runningAverageWindow].puid}`);
                        console.log(pointsArr[i- runningAverageWindow]);
                        //add a marker to the map for the stopped point
                        map.addLayer(L.marker([pointsArr[i- runningAverageWindow].latitude, pointsArr[i- runningAverageWindow].longitude]).bindPopup("Stopping Point: " + new Date(pointsArr[i- runningAverageWindow].time).toLocaleString()).addTo(map));
                        mode = Mode.STOP;
                        //i -= runningAverageWindow; // Re-evaluate points in the new moderunningAvergaePoints = [];
                        
                        // runningAveragePoints = [];
                        // runningAverageLoc = {
                        //     latitude: 0,
                        //     longitude: 0,
                        // }; //reset running average and location when stopping
                    }
                } else if (mode === Mode.STOP) {
                    runningAveragePoints.push(pointsArr[i]);
                    if (runningAveragePoints.length > runningAverageWindow) {
                        runningAveragePoints.shift(); // Remove the oldest point to maintain the window size
                    }
                    runningAverageLoc.latitude = runningAveragePoints.reduce((sum, p) => sum + p.latitude, 0) / runningAveragePoints.length;
                    runningAverageLoc.longitude = runningAveragePoints.reduce((sum, p) => sum + p.longitude, 0) / runningAveragePoints.length;

                    var distance = calculateDistance(pointsArr[i].latitude, pointsArr[i].longitude, runningAverageLoc.latitude, runningAverageLoc.longitude, 'meters');

                    if (distance >= stoppedPointDistanceThreshold) {
                        movingPointCount++;
                    } else {
                        movingPointCount = 0; // Reset count if movement is detected
                    }

                    if (movingPointCount > runningAverageWindow) { // Threshold for stopping, adjust as needed
                        console.log(`Transition from MOVING to STOP at point ${pointsArr[i- runningAverageWindow].puid}`);
                        console.log(pointsArr[i- runningAverageWindow]);
                        //add a marker to the map for the stopped point
                        map.addLayer(L.marker([pointsArr[i- runningAverageWindow].latitude, pointsArr[i- runningAverageWindow].longitude]).bindPopup("Moving Point: " + new Date(pointsArr[i- runningAverageWindow].time).toLocaleString()).addTo(map));
                        mode = Mode.MOVING;
                        //i -= runningAverageWindow; // Re-evaluate points in the new moderunningAvergaePoints = [];
                        
                        // runningAveragePoints = [];
                        // runningAverageLoc = {
                        //     latitude: 0,
                        //     longitude: 0,
                        // }; //reset running average and location when stopping
                    }
                }
            }
        }

        function processTrackers(trackers) {
            // Process trackers as needed
            console.log("Received Trackers: ", trackers);
            var queryTrackerId = new URLSearchParams(window.location.search).get('tracker_id');
            var CurSelectedTracker = document.getElementById("selTrackers").value || queryTrackerId || ""; // Preserve current selection if possible
            
            var selTrackers = document.getElementById("selTrackers");
            selTrackers.innerHTML = ""; // Clear existing options
            trackers.forEach(function(tracker_id) {
                var option = document.createElement("option");
                if (tracker_id === CurSelectedTracker) {
                    option.selected = true; // Preserve the currently selected tracker
                }
                option.value = tracker_id;
                option.text = tracker_id;
                selTrackers.appendChild(option);
            });
            if (!trackers.includes(CurSelectedTracker) && trackers.length > 0) {
                selTrackers.value = trackers[0]; // Select the first tracker if the previously selected one is no longer available
            }
        }

        function initMap() {
            map = L.map('theMap').setView([0, 0], 2);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            
             // Define a custom circle icon
            circleIcon = L.divIcon({
                className: 'jpico',
                html: "<div style='background-color:#4838cc;' class='marker-pin'></div><i style='transform: rotate(GPS_COURSEdeg)' class='fa-regular fa-circle-up' style='--fa-rotate-angle: 25deg;'></i>",
                iconSize: [10, 10],
                iconAnchor: [5, 5],
                popupAnchor: [-3, -76],
            });


            // var circleIcon = L.icon({
            //     iconUrl: '/map-point.png',
            //     iconSize: [10, 10],
            //     iconAnchor: [5, 5],
            //     popupAnchor: [-3, -76],
            //     className: 'jpico'
            // });
        }

        function initDateTimePicker() {
            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour').add(-14, 'hour'),
                endDate: moment(),
                locale: {
                    format: 'M/DD hh:mm A'
                }
            });
        }

        $(function(){

            initMap();   
            initDateTimePicker();

            //TODO INIT DATE TIME PICKER

            linesGroup = L.layerGroup();
            linesGroup.addTo(map);
            loadTrackersAndPoints(); // Initial load of trackers and points

        });

    </script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body{
            height: 100%;
            width: 100vw;
        }
        #map {
            position: absolute;
            top: 200px;
            bottom: 0;
            right: 0;
            left: 0;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.css" />

</head>
<BODY>
    <H1>Map</H1>
    
    <input type="text" name="datetimes" style="width: 200px;"/>

            <label for="selTrackers">Tracker:</label>
            <select id="selTrackers"></select>
            <label for="accuracyFilterInput">Accuracy Limit: </label>
            <input id="accuracyFilterInput" type="number" value="50" style="width: 40px;">
            <button type="button" id="btnSubmit" onclick="loadTrackersAndPoints()" style="align-self: flex-end; margin-top: 10px;">Submit</button>

    <!-- 
    <p>Tracker: </p>
    <select id="selTrackers"></select>
    <p>Start Time: </p>
    <input id="start_time_field" name="start_time" type="text" data-field="datetime" readonly>
    <p>End Time: </p>
    <input id="end_time_field" name="end_time" type="text" data-field="datetime" readonly>
    <button type="button" id="btnSubmit" onclick="loadTrackersAndPoints()">Submit</button> -->


    <div id="theMap" style="height: 80vh;"></div>
</BODY>
</HTML>